<a href="https://colab.research.google.com/github/Prashantlondhe123/ML-Project/blob/main/Spam_Mail_Prediction_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Project :Spam Mail Prediction

##Naive Bayes

What is naive Bayes classification algorithm?
The Naive Bayes classification algorithm is a probabilistic classifier. It is based on probability models that incorporate strong independence assumptions. ... Therefore they are considered as naive. You can derive probability models by using Bayes' theorem (credited to Thomas Bayes).

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/content/sample_data/spam.csv')

In [3]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df.groupby('Category').describe()

         Message
           count unique                                                top freq
Category
ham         4825   4516                             Sorry, I'll call later   30
spam         747    641  Please call our customer service representativ...    4

In [7]:
df['spam']=df['Category'].apply(lambda x: 1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.Message,df.spam)

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [10]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [12]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?'
 
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0])

In [13]:
emails = [
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
 
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([1])

In [14]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9877961234745154